@media screen and (max-width: 820px) {
  .cart {
    grid-template-columns: 1fr;

    > aside {
      padding: 2rem;
      border-radius: 0%;
      > h2 {
        font: 100 1.2rem "Roboto";
      }
    }
  }
}
